global
  log     127.0.0.1 alert
  log     127.0.0.1 alert debug
  maxconn 3000

defaults
  log     global
  option  dontlognull
  option  persist
  option  redispatch
  retries 3
  timeout connect 5000
  timeout client  50000
  timeout server  50000

listen haproxy-stats
    bind  *:8868
    mode  http
    stats enable
    stats hide-version
    stats refresh 5s
    stats uri     /haproxy?stats
    stats realm   Haproxy\ Statistics
    stats auth    haproxy:haproxy

listen rpc-internal
    bind    *:8545
    mode    tcp
    option  tcplog
    balance roundrobin
    server  dev-rpc-node-1 1.2.3.4:3000 check inter 5000 rise 3 fall 5
    server  dev-rpc-node-2 5.6.7.8:3000 check inter 5000 rise 3 fall 5

listen rpc-public
    bind    *:80
    mode    tcp
    option  tcplog
    balance roundrobin
    server  dev-rpc-node-1 1.2.3.4:3000 check inter 5000 rise 3 fall 5
    server  dev-rpc-node-2 5.6.7.8:3000 check inter 5000 rise 3 fall 5



